* text=auto

LICENSE eol=crlf

*.bat eol=crlf
*.cmd eol=crlf
*.ps1 eol=lf
*.sh eol=lf
*.rtf -text

**/*.json linguist-language=jsonc
*.d.ts linguist-language=ts

*.ts linguist-detectable=true
*.bat linguist-detectable=false
*.sh linguist-detectable=false
*.cpp linguist-detectable=false
*.coffee linguist-detectable=false
