# this is the configuration file for uranium
# editing this may result in some things breaking, be careful!
#
# (c) Copyright 2021-2031 Starlight Interactive, Uranium
# See LICENSE for more details.
#
# File locations and usage information

[default]
title               Uranium
repo                https://github.com/Uranium-Development/Uranium
version             URANIUM_VERSION
LICENSE             LICENSE
codeOfConduct       CODE_OF_CONDUCT.md
contributions       CONTRIBUTING.md

[owner]
title               Uranium-Development
loc                 https://github.com/Uranium-Development
own                 true

[usage]
description         A well built text editor written using Electron in JavaScript, HTML, and CSS.
primary             To write code with syntax highlighting.